/* for chat.component.css */
.list-messages {
    display: flex;
    flex-direction: column;
    height: 88%;
    overflow: auto;
}

.left-message {
    display: flex;
    margin-left: 10px;
}

.right-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.input-message {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid grey;
    height: 12%;
    
}

.input-text-message {
    height: 100%;
    width: 80%;
}

.input-send {
    color: red;
    width: 20%;
    
}

.send{
    width: 10px;
    height: 10px;
    border: 5px;
}

.fontawesomesvg {width: 1.5em;
    height: 1.5em;
    margin-top: 7px;
    margin-right: 20px;
    /* vertical-align: -.125em; */
    color: aquamarine;
  }

  /* .icon{
    display: flex;
    justify-content: center;
  } */
