<div class="container">

    <div class="formulaire">

        <form [formGroup]="signinForm">
            <!-- <label for="femail">email:</label><br> -->
            <input type="text" id="femail" name="femail" formControlName="email" placeholder="email" class="input"><br><br>
            <!-- <label for="fpass">password:</label><br> -->
            <input type="password" id="fpass" name="fpass" formControlName="password" placeholder="password" class="input"><br><br>
            <!-- <input type="submit" title="SignIn" > -->
            <button (click)="signIn()" class="submit">SignIn</button>
        </form>
        
    </div>

    <div class="image">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU" >
        </div>
    </div>
    

</div>

