.header {
    display: flex;
    /* justify-content: center; */
    gap: 5px;
    /* border: 1px solid; */
    /* width: 30%; */
    border: 1px solid black;
     border-radius: 10px;
  background-color:white ;
}

/* .chatIcon{
    border: 1px solid blue;
    border-radius: 30px;
} */

.chatIcon img{
    width: 48px;
    height: 57px;
    margin-left: 10px;

}

.chatInfo {
    margin-left: 4%;
    margin-top: 2%;
}

.first{
    width: 200px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .icon {
    margin-left: 5px;
} */

.second {
    font-weight: lighter;
}
