.header {
    display: flex;
    /* justify-content: center; */
    gap: 5px;
    /* border: 1px solid; */
    /* width: 30%; */
    border: 1px solid black;
     border-radius: 10px;
  background-color:white ;
}

/* .chatIcon{
    border: 1px solid blue;
    border-radius: 30px;
} */

.chatIcon img{
    width: 48px;
    height: 60px;

}

.chatInfo {
    margin-left: 4%;
    margin-top: 2%;
}

.first{
    font-weight: bold;
}

.second {
    font-weight: lighter;
}
